body {
  padding: 0;
  margin: 0;
  background-color: #f4ebe2;
}

#header {
  background-repeat: no-repeat;
  background-image: url(../source/pic/header.jpg);
  height:189px;
}


#main{
  margin: 5px auto;
  width: 1000px;
  height: 1000px;

}
#title{
  width:60%;
  margin: 5% auto;
  text-align: center;
  color: #553733;
}
#content{
  margin: 0 auto;
  width: 90%;
  height: 90%;
  background-color: white;
}

#pic{
  float: left;
  width: 50%;
  height: 50%;
  margin:10px;
  background-color: gray;
}


#logo{
  position: fixed;
  top:85%;
  left: 95%;
  width: 78px;
  height: 111px;
  background-image: url(../source/pic/logo.png);

}

#index{
  top: 45%;
  position: fixed;
  width:150px;
}

.choice{
}

a.choice_link{
  padding-top: 5%;
  width:100%;
  height: 40px;
  text-align: center;
  margin: 5px 0;
  letter-spacing: 3px;
  display:inline-block;
  text-decoration: none;

  background-color: #553733;
  font-weight: bold;
  color: white;
  font-size: 25px;
}

a.choice_link:hover{
  color: #553733;
  background-color: #9c7772;
}
